{#
/**
 * Template: 404.twig
 *
 */
#}
{% extends "base.twig" %}

{%- block sections -%}
<section class="section__page-not-found">
  <div class="section__wrapper">
    <h1>404 Page Not Found</h1>
  </div>
</section>
{%- endblock -%}